h1 {
    
    color: blue;
    font-size: 3em;
    background-color: yellow;
    border: 1px solid black;
}
p, li {
    color: green;
}
li {
  list-style-type: none;
}
.special {
  color: orange;
  font-weight: bold;
}
li em {
  color: rebeccapurple;
}